body {
    margin: 0;
    font-family: sans-serif;
}
h2 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

.b1, .b2, .b3, .b4{
    display:inline-block;
    margin: 2%;
    float: left;
    width: 23%;
    height: 400px;
    background-color: yellow;
    }

div {
    display: inline-block;
    margin: 2%;
    position: relative;
    float:left;
    width: calc(25% - 10px);
    height:400px;
    background-color: green;
    }
model {
  flex: 1;
}
